<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fausto Cornejo</title>
  <link rel="stylesheet" href="/static/style.css">

</head>

<body>
  <h1>Fausto Cornejo</h1>

  <h2>PORTFOLIO</h2>

  <!-- Botones de filtro -->
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Todo </button>
    <button class="btn" onclick="filterSelection('voluntariado')"> Voluntariado </button>
    <button class="btn" onclick="filterSelection('contactos')"> Contactos</button>
  </div>

  <!-- Contenido Portfolio -->
  < class="row">

    <!-- Sección de Voluntariado -->
    <div class="column voluntariado">
      <div class="content">
        <h4>Voluntariado</h4>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/techo.png" alt="Techo" style="width:100%">
        <h4>Techo</h4>
        <p>2019 - Actualidad</p>
      </div>
    </div>
    <div class="column voluntariado">
      <div class="content">
        <img src="/static/images/TFY.jpg" alt="TFY" style="width:100%">
        <h4>Tools for Youth</h4>
        <p>2020-actualidad</p>
      </div>
    </div>
    
    

  

    <!-- Sección de Contactos -->
    <div class="column contactos">
      <div class="content">
        <h4>Contactos</h4>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/Chemita.jpg" alt="chemita" style="width:100%">
        <h4>Chema</h4>
        <p>jvelasquez@esen.edu.sv</p>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/Maria Tenorio.jpg" alt="Maria" style="width:100%">
        <h4>Maria</h4>
        <p>mtenorio@esen.edu.sv</p>
      </div>
    </div>
    <div class="column contactos">
      <div class="content">
        <img src="/static/images/sosita.jpg" alt="Sosa" style="width:100%">
        <h4>Sosa</h4>
        <p>dsosa@esen.edu.sv</p>
      </div>
    </div>
    <!-- END GRID -->
  </div>

  <!-- Javascript -->
  <script src="/static/script.js"></script>

</html>